.my-cart {
    padding-inline: 50px;
    margin: 40px;

    h1 {
        font-size: 25px;
        margin-top: 30px;
    }

    .cart-list {
        column: 1;
    }

    img {
        height: 100px;
        width: 100px;
        border-radius: 5px;
    }

    button {
        border: none;
        padding: 7px;
        border-radius: 5px;
        background-color: rgb(173, 168, 168);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }

    button:hover{
        background-color: rgb(213, 204, 208);
    }

    article {
        display: flex;
        justify-content: start;
        align-content: center;
        max-width: 500px;
        background-color: rgb(173, 168, 168);
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;

        div {
            margin-left: 10px;

            h4 {
                margin: 0;
                text-transform: capitalize;
            }

            h4:first-of-type {
                font-size: 20px;
                margin-top: 15px;
            }
        }
    }
}