.my-cart {
    padding-inline: 50px;
    margin: 40px;

    h1 {
        font-size: 25px;
        margin-top: 30px;
    }

    button {
        border: none;
        background-color: rgb(195, 190, 190);
        border-radius: 50px;
    }

    button.remove-btn {
        border: none;
        padding: 5px;
        border-radius: 3px;
        background-color: rgb(195, 190, 190);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    }

    button:hover {
        background-color: rgb(240, 231, 235);
    }

    article {
        display: flex;
        justify-content: start;
        align-content: center;
        align-items: center;
        max-width: 500px;
        background-color: rgb(173, 168, 168);
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;

        .product-info {
            display: flex;
            align-items: center;

            .product-img {
                height: 100px;
                width: 100px;
                object-fit: cover;
                border-radius: 5px;
            }

            div {
                margin-left: 30px;

                h4 {
                    margin: 0;
                    text-transform: capitalize;
                }

                h4:first-of-type {
                    font-size: 20px;
                    margin-top: 15px;
                }
            }
        }

        .cart-controls {
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 5px;

            div.plus-minus {
                display: block;
                padding: 2px;
                margin-top: 5px;
                border-radius: 50px;
                background-color: rgb(195, 190, 190);

                button:hover {
                    border-radius: 50px;
                    transform: scale(1.05);
                }

                button {
                    height: 20px;
                    margin-top: 2px;
                    transition: all 0.2s ease;
                }
            }

            img.plus,
            img.minus {
                height: 13px;
            }

            span {
                color: rgb(34, 33, 33);
            }

            .trash {
                height: 20px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}


// img.trash {
//     height: 10px;
//     width: 100%;
//     object-fit: cover;
//     border-radius: 4px;
// }