.contact {
    height: 680px;
    margin: 20px;
    background-color: rgba(228, 200, 190, 0.421);
    padding: 20px;

    h2 {
        margin: 30px;
    }


    .contact-info {
        margin: 50px;
    }

    .social-links {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 20px;
        margin-top: 300px;
    }

    .social-links a {
        font-size: 25px;
        transition: color 0.3s ease, transform 0.2s ease;
    }

    .social-links a:hover {
        color: rgb(170, 121, 96);
        transform: scale(1.2);
    }

    .social-links a.facebook {
        color: #1877F2;
    }

    .social-links a.instagram {
        color: #E4405F;
    }

    .social-links a.linkedin {
        color: #0A66C2;
    }


}