.header-container {

    .app-header {
        display: flex;
        // align-content: center;
        // justify-content: space-between;
        padding: 15px;
        color: rgb(243, 233, 221);
        background-color: rgba(0, 0, 0, 0.692);

        h1 {
            margin: 0;
            margin-right: auto;
            font-size: 25px;
        }

        img.cart {
            height: 18px;
            margin: 0;
            margin-top: 4px;
            padding: 0;
            filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
        }
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        margin-inline-end: 17px;
        color: rgb(243, 233, 221);
        margin-top: 10px;
        display: inline-block;
        transition: transform 0.2s ease, color 0.2s ease;
    }

    img.cart:hover {
        transform: scale(1.1);
        filter: brightness(0) saturate(100%) invert(54%) sepia(24%) saturate(525%) hue-rotate(338deg) brightness(92%) contrast(89%);
    }

    a:hover {
        transform: scale(1.1);
        color: rgb(170, 121, 96)
    }

    .app-nav {
        display: flex;
        // align-content: center;
        // justify-self: center;
        justify-self: space-between;
        // margin-left: 10px;
    }

    // .main-image {
    //     height: 300px;
    //     width: 100%;
    //     object-fit: cover;
    // }
}


