.user-header {
    img.user-avatar {
        height: 20px;
        filter: invert(96%) sepia(9%) saturate(310%) hue-rotate(328deg) brightness(102%) contrast(94%);
        margin-top: 12px;
    }

    img.user-avatar:hover {
        transform: scale(1.1);
        filter: brightness(0) saturate(100%) invert(54%) sepia(24%) saturate(525%) hue-rotate(338deg) brightness(92%) contrast(89%);

    }

    .user-avatar {
        height: 24px;
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(90%);
    }

    .user-form {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 10px;
        z-index: 10;
        position: fixed;
        top: 80px;
        right: 20px;
        background: white;
        padding: 20px;
        border-radius: 12px;
        z-index: 10;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
    }

    button {
        background-color: rgb(240, 206, 163);
        border: 2px solid #d1bfa7;
        padding: 8px 16px;
        border-radius: 6px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
        transition: 0.2s ease-in-out;
    }

    button:hover {
        box-shadow:
            5px 5px 12px rgba(0, 0, 0, 0.30),
            0 0 6px rgba(0, 0, 0, 0.20);
    }

    .user-form input {
        padding: 6px;
        border-radius: 4px;
        border: 1px solid #ddd;
    }

    .error {
        color: red;
        font-size: 12px;
    }

    .toggle-login {
        cursor: pointer;
        color: rgb(43, 6, 176);
        font-size: 14px;
        font-weight: 700;
    }

}