.product-filter {
  display: flex;
  align-content: center;
  justify-items: center;

  
  background-color: white;
  // margin-inline: 100px;
  //  width-max: 300px;
   max-width: 500px;
  padding: 10px;


  input {
    // height: 35px;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    outline: none;
  }

}