.product-list {
    columns: 3;
    padding: 15px;
    margin-top: 20px;


    .product-preview {
        background-color: white;
        margin-bottom: 25px;
        border-radius: 5px;
        margin-inline: 5px;

        h4 {
            font-size: 0.9em;
            font-weight: 600;
            text-transform: capitalize;

        }

        h4:last-of-type {
            font-weight: 400;
            color: rgb(146, 147, 149);
        }

        h4:first-of-type {
            margin: 0;
        }

        img {
            height: 100px;
            width: 100%;
            object-fit: cover;
            border-radius: 4px;
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px;
            break-inside: avoid;
        }

        .btn-add {
            border-radius: 5px;
            border: none;
            padding: 7px;
            color: rgb(104, 101, 101);
            background-color: rgb(218, 213, 213);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        }

        .btn-add:hover {
            background-color: rgb(185, 166, 166);
        }
    }
}