.user-msg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: lightgray;
    padding: 0.3em;
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 16px;
    z-index: 10000;
}

.user-msg.success {
    background-color: $msg-success;
    color: rgb(255, 255, 255);
}

.user-msg.error {
    background-color: $msg-error;
    color: white;
}


.user-msg button {
    float: left;
    margin: 1em;
    background-color: transparent;
    border: none;
    color: white;
}