
// Colors
$clr3: #ffffff;
$clr4: #000000;

$gray1: #f7f7f7;
$gray2: #dddddd;

$msg-success: #866ffa;
$msg-error: #e1918c;
$msg-info: #309c4b;
$msg-warning: #ff9800;

$mobile-breakpoint: 550px;
$narrow-breakpoint: 743px;
$wide-breakpoint: 950px;
$large-breakpoint: 1130px;