// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography.scss";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";

// Components
@import "cmps/ProductList";
@import "cmps/AppHeader";
@import "cmps/ProductFilter";
@import 'cmps/UserMsg';

//Pages
@import "pages/ProductIndex";
@import "pages/CartList";
@import "pages/AboutProduct";
@import "pages/ContactUs";



